.App{
    width: 40%;
    margin: 2em auto;
    background-color: #394049;
    border-radius: 5px;
    color: #FFF;
}

.tarefa-header{
    padding: 0.5rem;
    border-bottom: 1px solid #2C3035;
    text-align: center;
}

.tarefa-header h1{
    margin: 0;
}

.form-tarefa{
    padding: 1em;
    margin: 0 2em;
    border-bottom: 1px solid #2C3035;
}

.form-tarefa h2,
.list-tarefa h2 {
    text-align: center;
    margin-top: 0;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    font-size: .7em;
    margin-bottom: .4em;
}

.form-control input {
    border: 1px solid #222;
    border-radius: 2px;
    background-color: #2C3035;
    padding: .5em;
    color: #DFDFDF;
}

input[type="submit"] {
    background-color: #333;
    color: #EEE;
    display: block;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
}


.list-tarefa {
    padding: 0 1em 2em;
    margin: 1em 2em;
}

.list-tarefa h2 {
    margin-bottom: 0;
}

.list-tarefa p {
    text-align: center;
}

.tarefa { 
    border-bottom: 1px solid #444;
    padding: 1em 0;
}

.tarefa h3 {
    margin-bottom: .5em;
}

.tarefa-done {
    text-decoration: line-through;
    color: rgb(240, 98, 146);
}

.tarefa p {
    text-align: left;
    font-style: italic;
    font-size: .7em;
    margin-bottom: 1.5em;
}

.tarefa svg {
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
    transition: .5s;
}

.tarefa svg:hover {
    color: rgb(240, 98, 146);
}